<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.3.7-1/css/bootstrap.css'}" />
</head>
<body>

    <div class="container">
        <h1>Welcome to Spring!</h1>

        <form action="/" th:object="${secret}" method="POST">
            <input type="text" th:field="*{owner}" placeholder="Owner"/>
            <br />
            <input type="text" th:field="*{message}" placeholder="Message"/>
            <br />
            <input type="submit" value="Keep the Secret" />
        </form>

        <ul>
            <li th:each="mySecret : ${mySecrets}" th:text="${mySecret.message}"></li>
        </ul>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="application/javascript"
            th:src="@{'webjars/jquery/1.11.1/jquery.js'}">
    </script>
    <script type="application/javascript"
            th:src="@{'webjars/bootstrap/3.3.7-1/js/bootstrap.js'}"></script>

</body>
</html>