<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.3.7-1/css/bootstrap.css'}" />
</head>
<body>
    <h1>Welcome to Spring!</h1>

    <form action="/" th:object="${secret}" method="POST">
        <input type="text" th:field="*{owner}" placeholder="Owner"/>
        <br />
        <input type="text" th:field="*{message}" placeholder="Message"/>
        <br />
        <input type="submit" value="Keep the Secret" />
    </form>

    <ul>
        <li th:each="mySecret : ${mySecrets}" th:text="${mySecret.message}"></li>
    </ul>
</body>
</html>