<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Signup</title>
</head>
<body>
    <h1>Signup for my app</h1>
    <form action="/signup" method="POST" th:object="${user}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" th:field="*{username}"/>
        <br/>
        <input type="password" th:field="*{password}"/>
        <br/>
        <input type="submit" value="Create Account"/>
    </form>
</body>
</html>